<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>汽车平台-@base.ViewData["Title"]</title>
        <!--样式-->
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/pnotify/PNotifyBrightTheme.css" />
        <link rel="stylesheet" href="~/css/page-layout.css" />
        <link rel="stylesheet" href="~/css/ext-bootstrap.css" />
        <link rel="stylesheet" href="~/css/ext-utils.css" />
        @RenderSection("styles", false)
        <!--脚本-->
        <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/layui/layui.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/lib/bootbox/bootbox.all.min.js"></script>
        <script type="text/javascript" src="~/lib/pnotify/umd/PNotify.js"></script>
        <script type="text/javascript" src="~/js/base.js"></script>
        <script type="text/javascript" src="~/js/loaders.js"></script>
        <script type="text/javascript" src="~/js/containers.js"></script>
        <script type="text/javascript" src="~/js/submitters.js"></script>
        <script type="text/javascript" src="~/js/utils.js"></script>
        <!--页面基础函数-->
        <script type="text/javascript">
            //切换尾标识类样式
            function change_end_fa_class(a, sAfterClass, aClass) {
                //获取尾标识
                let iEnd = a.querySelector('.' + sAfterClass);
                //切换类样式
                iEnd.classList.remove(sAfterClass);
                iEnd.classList.add(aClass);
            }
            //打开子菜单集合
            function show_child_menus(a) {
                //获取子菜单列表
                let ulChildMenus = a.parentElement.querySelector('ul');
                //若打开则关闭
                if (ulChildMenus.classList.contains('show')) {
                    //取消选中状态
                    a.classList.remove('active');
                    //关闭尾标识
                    change_end_fa_class(a, 'fa-angle-down', 'fa-angle-right');
                    //关闭
                    $(ulChildMenus).slideUp();
                    ulChildMenus.classList.remove('show');
                    return;
                }

                //获取之前选中的标签
                let aAfter = a.parentElement.parentElement.querySelector('.active');
                //若存在则取消其选中状态
                if (aAfter != undefined) {
                    //取消其选中状态
                    aAfter.classList.remove('active');
                    //关闭尾标识
                    change_end_fa_class(aAfter, 'fa-angle-down', 'fa-angle-right');
                    //若关闭则关闭其它菜单下子菜单
                    $(aAfter).next().slideUp();
                    $(aAfter).next().removeClass('show');
                }

                //选中当前菜单
                $(a).addClass('active');
                //打开尾标识
                change_end_fa_class(a, 'fa-angle-right', 'fa-angle-down');
                //打开当前菜单
                $(ulChildMenus).slideDown();
                ulChildMenus.classList.add('show');
            }
            //显示模块菜单
            function show_module_menus(sModuleName) {
                //遍历所有的模块按钮
                document.querySelectorAll('#div-modules > button').forEach(function (button) {
                    //若为当前模块按钮
                    if (button.getAttribute('data-name') === sModuleName) {
                        //若未选中则选中
                        if (!button.classList.contains('active'))
                            button.classList.add('active');
                        //退出
                        return;
                    }
                    //若按钮不为当前模块按钮,已选中则取消选中状态
                    if (button.classList.contains('active'))
                        button.classList.remove('active');
                });
                //遍历所有模块菜单列表
                document.querySelectorAll('#div-menus > ul').forEach(function (ul) {
                    //若为当前模块
                    if (ul.getAttribute('data-name') === sModuleName) {
                        //若没有显示则显示
                        if (ul.classList.contains('d-none'))
                            ul.classList.remove('d-none');
                        //退出
                        return;
                    }
                    //若为其他模块,没有隐藏则隐藏
                    if (!ul.classList.contains('d-none'))
                        ul.classList.add('d-none');
                });
            }
        </script>
        <!--bootstrap初始化函数-->
        <script type="text/javascript">
            //初始化加载所有的提示框
            function init_bootstrap_tooltips() {
                document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(function (htmlToolTip) {
                    new bootstrap.Tooltip(htmlToolTip);
                });
            }
            //初始化加载所有的模态框
            function init_bootstrap_modals() {
                //遍历所有的.modal容器
                document.querySelectorAll('body > .modal').forEach(function (divModal) {
                    new bootstrap.Modal(divModal);
                });
            }
        </script>
        <!--显示授权的菜单列表-->
        <script type="text/javascript">
            //获取当前登录角色下所有授权的菜单的url
            function get_url_for_login_role_menus() { return '@Url.Action("GetLoginRoleMenus", "Role", new { area = "SysManagement" })'; }

            //显示当前登录角色下所有授权的菜单
            function show_login_role_menus() {
                //执行jquery ajax的post方法
                $.post(get_url_for_login_role_menus(), function (data, textStatus, xhr) {
                    //记录log
                    console.log(textStatus);
                    //遍历所有菜单名称
                    data.forEach(function (sMenuName) {
                        //获取当前li元素
                        let li = document.querySelector('#nav-child-menus > ul > li[data-name="' + sMenuName + '"]');
                        //若li不为空
                        if (li != undefined) {
                            //若包含(d-none)类样式则移除
                            if (li.classList.contains('d-none'))
                                li.classList.remove('d-none');
                        }
                    });
                });
            }
        </script>
        <!--加载选中菜单-->
        <script type="text/javascript">
            //获取模块名称
            function get_module_name() { return '@base.ViewData["Module"]'; }
            //获取父级菜单名称
            function get_parent_menu_name() { return '@base.ViewData["ParentMenu"]'; }
            //获取菜单名称
            function get_menu_name() { return '@base.ViewData["Menu"]'; }

            //选中菜单
            function select_menu() {
                //若模块名称为空则退出
                let sModuleName = get_module_name();
                if (sModuleName === '')
                    return;
                //显示模块菜单
                show_module_menus(sModuleName);
                //若父级菜单为空则退出
                let sParentMenuName = get_parent_menu_name();
                if (sParentMenuName === '')
                    return;
                //获取模块菜单ul
                let ulModule = document.querySelector('#div-menus > ul[data-name="' + sModuleName + '"]');
                //获取父级菜单li
                let liParentMenu = ulModule.querySelector('li[data-name="' + sParentMenuName + '"]');
                //打开子菜单集合
                show_child_menus(liParentMenu.querySelector('a'));
                //若菜单名称为空则退出
                let sMenuName = get_menu_name();
                if (sMenuName == '')
                    return;
                //选中菜单
                liParentMenu.querySelector('li[data-name="' + sMenuName + '"] > a').classList.add('active');
            }
        </script>
        <!--分页-->
        <script type="text/javascript">
            //获取加载分页页码的url
            function get_url_for_show_paging() { return '@Url.Action("ShowPaging", "Base", new { area = ""})'; }

            //加载分页页码
            function load_pages(divContainer, startIndex) {
                //创建html加载器
                var oHtmlLoader = new HtmlLoader(divContainer);
                //指定查询url
                oHtmlLoader.url = get_url_for_show_paging();
                //指定查询参数
                oHtmlLoader.data = {
                    StartIndex: startIndex,
                    PageIndex: divContainer.querySelector('input[name="PageIndex"]').value,
                    PageCount: divContainer.querySelector('label[for="PageCount"]').textContent,
                    PageSize: divContainer.querySelector('input[name="PageSize"]').value,
                    Count: divContainer.querySelector('label[for="Count"]').textContent,
                    FunctionName: divContainer.querySelector('input[name="FunctionName"]').value
                };
                //加载数据
                oHtmlLoader.load();
            }
        </script>
        <!--修改密码-->
        <script type="text/javascript">
            //获取显示编辑当前登录用户的密码的url
            function get_url_for_edit_password() { return '@Url.Action("ShowEditPassword", "User", new { area = "SysManagement" })'; }
            //获取保存密码的url
            function get_url_for_save_password() { return '@Url.Action("SavePassword", "User", new { area = "SysManagement" })'; }

            //显示编辑当前登录用户的密码
            function show_edit_password() {
                //创建容器对象
                let oContainer = new ModalDialogContainer('div-modal-dialog-0');
                //指定url
                oContainer.url = get_url_for_edit_password();
                //显示当前容器
                oContainer.show();
            }
            //保存修改的密码
            function save_password(form) {
                //创建表单提交对象
                let oSubmitter = new DataFormSubmitter(form);
                //指定提交地址
                oSubmitter.url = get_url_for_save_password();
                //指定执行成功后的回掉函数
                oSubmitter.call_back = function () {
                    //关闭当前模态框
                    close_dialog($(form).parents('.modal').get(0));
                };
                //执行提交
                oSubmitter.submit();
            }
        </script>
        @RenderSection("scripts", false)
    </head>
    <body>
        <!--页头-->
        <header class="row">
            <nav class="col-md-4 navbar">
                <h3 class="text-info">
                    <i class="fa fa-car"></i> 平台管理
                </h3>
            </nav>
            <nav class="col-md-8 navbar">
                <div class="col-md-10 d-flex flex-md-row" id="div-modules">
                    <button class="btn btn-outline-primary parallelogram active" data-name="basic-management" onclick="show_module_menus(this.getAttribute('data-name'));">
                        <span>基础平台</span>
                    </button>
                    <button class="btn btn-outline-primary parallelogram" data-name="auto-repair-management" onclick="show_module_menus(this.getAttribute('data-name'));">
                        <span>汽修平台</span>
                    </button>
                    <button class="btn btn-outline-primary parallelogram" data-name="data-management" onclick="show_module_menus(this.getAttribute('data-name'));">
                        <span>数据中心</span>
                    </button>
                </div>
                <div class="col-md-2 row">
                    <div class="dropdown col-md-12">
                        <a class="dropdown-toggle float-end" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">@base.ViewData["UserName"]</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="dropdown-item-text" href="javascript:void(0);" onclick="show_edit_password();">
                                    <i class="fa fa-edit"></i>&nbsp;修改密码
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item-text" asp-area="" asp-controller="Home" asp-action="Logout">
                                    <i class="fa fa-power-off"></i>&nbsp;退出登录
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--主体内容-->
        <div class="row" id="div-content">
            <!--左边菜单-->
            <div class="col-md-2" id="div-menus">
                <!--基础平台-->
                <ul data-name="basic-management">
                    <li data-type="parent-menu" data-name="doc-management">
                        <a href="javascript:void(0);" onclick="show_child_menus(this);">
                            <i class="fa fa-book"></i>
                            <span>文档管理</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <!--文档管理下的菜单-->
                        <ul class="collapse">
                            <li data-type="menu" data-name="edit-article-categories">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-th-list"></i>
                                    <span>文章类目</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li data-type="parent-menu" data-name="emp-management">
                        <a href="javascript:void(0);" onclick="show_child_menus(this);">
                            <i class="fa fa-user"></i>
                            <span>员工管理</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <!--员工管理下的菜单-->
                        <ul class="collapse">
                            <li data-type="menu" data-name="edit-departments">
                                <a asp-area="EmpManagement" asp-controller="Department" asp-action="Index">
                                    <i class="fa fa-users"></i>
                                    <span>部门管理</span>
                                </a>
                            </li>
                            <li data-type="menu" data-name="edit-jobs">
                                <a asp-area="EmpManagement" asp-controller="Job" asp-action="Index">
                                    <i class="fa fa-wrench"></i>
                                    <span>职位管理</span>
                                </a>
                            </li>
                            <li data-type="menu" data-name="edit-employees">
                                <a asp-area="EmpManagement" asp-controller="Employee" asp-action="Index">
                                    <i class="fa fa-user"></i>
                                    <span>员工管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li data-type="parent-menu" data-name="right-management">
                        <a href="javascript:void(0);" onclick="show_child_menus(this);">
                            <i class="fa fa-cog"></i>
                            <span>权限管理</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <!--权限管理下的二级菜单-->
                        <ul class="collapse">
                            <li data-type="menu" data-name="edit-roles">
                                <a asp-area="SysManagement" asp-controller="Role" asp-action="Index">
                                    <i class="fa fa-user-circle"></i>
                                    <span>角色管理</span>
                                </a>
                            </li>
                            <li data-type="menu" data-name="edit-role-rights">
                                <a asp-area="SysManagement" asp-controller="Role" asp-action="Right">
                                    <i class="fa fa-user-circle"></i>
                                    <span>角色授权</span>
                                </a>
                            </li>
                            <li data-type="menu" data-name="edit-users">
                                <a asp-area="SysManagement" asp-controller="User" asp-action="Index">
                                    <i class="fa fa-user"></i>
                                    <span>用户管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--汽修平台-->
                <ul class="d-none" data-name="auto-repair-management">
                    <li data-type="parent-menu" data-name="vehicle-owner">
                        <a href="javascript:void(0);" onclick="show_child_menus(this);">
                            <i class="fa fa-car"></i>
                            <span>车主服务</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <!--车主服务下的菜单-->
                        <ul class="collapse">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-times-circle"></i>
                                    <span>预约记录</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-pie-chart"></i>
                                    <span>营业日报</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-area-chart"></i>
                                    <span>产值汇总</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-database"></i>
                                    <span>项目分析</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-comment"></i>
                                    <span>车主评价</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li data-type="parent-menu" data-name="member-management">
                        <a href="javascript:void(0);" onclick="show_child_menus(this);">
                            <i class="fa fa-address-book"></i>
                            <span>会员管理</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <!--会员管理下的菜单-->
                        <ul class="collapse">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-users"></i>
                                    <span>会员列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-users"></i>
                                    <span>全部客户</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-comments"></i>
                                    <span>群发消息</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-clock-o"></i>
                                    <span>生日提醒</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-clock-o"></i>
                                    <span>售后提醒</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-phone"></i>
                                    <span>电话回访</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-file-excel-o"></i>
                                    <span>客户导入</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--数据中心-->
                <ul class="d-none" data-name="data-management">
                    <li data-type="parent-menu" data-name="reg-management">
                        <a href="javascript:void(0);" onclick="show_child_menus(this);">
                            <i class="fa fa-area-chart"></i>
                            <span>区域管理</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <!--区域管理下的菜单-->
                        <ul class="collapse" data-name="reg-management">
                            <li data-type="menu" data-name="edit-province-levels">
                                <a asp-area="RegManagement" asp-controller="ProvinceLevel" asp-action="Index">
                                    <i class="fa fa-area-chart"></i>
                                    <span>省级行政区</span>
                                </a>
                            </li>
                            <li data-type="menu" data-name="edit-prefecture-levels">
                                <a asp-area="RegManagement" asp-controller="PrefectureLevel" asp-action="Index">
                                    <i class="fa fa-area-chart"></i>
                                    <span>地级行政区</span>
                                </a>
                            </li>
                            <li data-type="menu" data-name="edit-county-levels">
                                <a asp-area="RegManagement" asp-controller="CountyLevel" asp-action="Index">
                                    <i class="fa fa-area-chart"></i>
                                    <span>县级行政区</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li data-type="parent-menu" data-name="basic-data">
                        <a href="javascript:void(0);" onclick="show_child_menus(this);">
                            <i class="fa fa-database"></i>
                            <span>基础数据</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <!--基础数据下的菜单-->
                        <ul class="collapse">
                            <li data-type="menu" data-name="edit-object-type-categories">
                                <a asp-area="BaseManagement" asp-controller="ObjectTypeCategory" asp-action="Index">
                                    <span>基础类型分类</span>
                                </a>
                            </li>
                            <li data-type="menu" data-name="edit-object-types">
                                <a asp-area="BaseManagement" asp-controller="ObjectTypeCategory" asp-action="ObjectTypes">
                                    <span>基础类型管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--内容-->
            <div class="col-md-10">
                <!--主页内容展示-->
                <div id="div-main">
                    <!--导航-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @RenderSection("navigation", false)
                        </ol>
                    </nav>
                    <!--主容器-->
                    <div data-name="main">
                        @RenderBody()
                    </div>
                    <!--modal-content容器0-->
                    <div class="modal-content d-none" data-name="modal-content-0" data-prev="main">
                        <div class="modal-header"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"></div>
                    </div>
                    <!--modal-content容器1-->
                    <div class="modal-content d-none" data-name="modal-content-1" data-prev="modal-content-0">
                        <div class="modal-header"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"></div>
                    </div>
                    <!--modal-content容器2-->
                    <div class="modal-content d-none" data-name="modal-content-2" data-prev="modal-content-1">
                        <div class="modal-header"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
                <!--页面尾部-->
                <footer>
                    <p class="text-center text-muted copyright">南京XXX信息技术有限公司</p>
                </footer>
            </div>
        </div>
        <!--modal-dialog容器０-->
        <div class="modal fade" role="dialog" data-bs-backdrop="static" id="div-modal-dialog-0">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!--初始化-->
        <script type="text/javascript">
            //初始化加载bootstrap对象
            init_bootstrap_tooltips();
            init_bootstrap_modals();
            //选中当前菜单
            select_menu();
            //显示当前登录角色下所有授权的菜单
            //show_login_role_menus();
        </script>
    </body>
</html>
