@model IPagedList<ObjectType>
@{
    string functionName = base.ViewBag.Function;
    string linksViewName = base.ViewBag.LinksViewName;
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>分类名称</th>
            <th>类型名称</th>
            <th>备注</th>
            <th>排序时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objectType in base.Model)
        {
            <tr>
                <td>@objectType.Category.CategoryName</td>
                <td>@objectType.TypeName</td>
                <td>@objectType.Remark</td>
                <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", objectType.SortedTime)</td>
                <td>
                    <primary-link click="show_object_type('@objectType.TypeId');">
                        <partial name="_LinkTextInfo" />
                    </primary-link>
                    <!--加载其他操作-->
                    @if (!string.IsNullOrEmpty(linksViewName))
                    {
                        await Html.RenderPartialAsync(linksViewName, objectType);
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                @await Html.PartialAsync("_Pagination", base.Model.GetPagination(functionName))
            </td>
        </tr>
    </tfoot>
</table>