@section style_libraries{
    <link rel="stylesheet" href="~/lib/jquery-miniui/themes/default/miniui.css" />
    <link rel="stylesheet" href="~/lib/jquery-miniui/themes/metro-blue/skin.css" />
}
@section script_libraries{
    <script type="text/javascript" src="~/lib/jquery-miniui/miniui.js"></script>
}
@section scripts{
    <!--添加引用-->
    <script type="text/javascript" src="~/js/_references.js"></script>
    <!--查询展示-->
    <script type="text/javascript">
        //获取显示职位列表的url
        function get_url_for_show_jobs() { return '@Url.Action("ShowListPagedJobs")'; }
        //获取显示职位详情的url
        function get_url_for_show_job() { return '@Url.Action("ShowDetailJob")'; }
        //获取新建职位的url
        function get_url_for_new_job() { return '@Url.Action("ShowNewJob")'; }
        //获取编辑职位的url
        function get_url_for_edit_job() { return '@Url.Action("ShowEditJob")'; }

        //分页查询职位列表
        function search_jobs(pageIndex, pageSize) {
            //创建Table分页加载对象
            let oTableLoader = new PageTableLoader('#div-main > div[data-name="main"] div[data-name="jobs"]', 4);
            //指定查询url
            oTableLoader.url = get_url_for_show_jobs();
            //指定查询参数
            oTableLoader.data = {
                searcher: get_form_json('#div-main > div[data-name="main"] form[role="search"]'),
                pageIndex: pageIndex,
                pageSize: pageSize,
                functionName: 'search_jobs'
            };
            //加载数据
            oTableLoader.load();
        }
        //显示职位详情
        function show_job(jobId) {
            //创建容器对象
            let oContainer = new ModalDialogContainer('div-modal-dialog-0');
            //指定url
            oContainer.url = get_url_for_show_job();
            //指定参数
            oContainer.data = { jobId: jobId };
            //显示当前容器
            oContainer.show();
        }
        //显示新建职位
        function show_new_job() {
            //创建容器对象
            let oContainer = new ModalDialogFormContainer('div-modal-dialog-0');
            //指定url
            oContainer.url = get_url_for_new_job();
            //指定参数
            oContainer.data = {
                departmentId: document.querySelector('#div-main > div[data-name="main"] form[role="search"] input[name="DepartmentId"]').value
            };
            //显示当前容器
            oContainer.show();
        }
        //显示编辑职位
        function show_edit_job(jobId) {
            //创建容器对象
            let oContainer = new ModalDialogFormContainer('div-modal-dialog-0');
            //指定url
            oContainer.url = get_url_for_edit_job();
            //指定参数
            oContainer.data = { jobId: jobId };
            //显示当前容器
            oContainer.show();
        }
    </script>
    <!--提交修改-->
    <script type="text/javascript">
        //获取添加职位的url
        function get_url_for_add_job() { return '@Url.Action("AddEntity")'; }
        //获取保存职位的url
        function get_url_for_save_job() { return '@Url.Action("SaveEntity")'; }
        //获取删除职位的url
        function get_url_for_remove_job() { return '@Url.Action("RemoveJob")'; }

        //添加职位
        function add_job(form) {
            //创建表单提交对象
            let oSubmitter = new DataFormSubmitter(form);
            //指定提交地址
            oSubmitter.url = get_url_for_add_job();
            //指定执行成功后的回掉函数
            oSubmitter.call_back = function () {
                //重新查询
                search_jobs(1);
                //关闭当前框
                close_dialog($(form).parents('.modal').get(0));
            };
            //执行提交
            oSubmitter.submit();
        }
        //保存职位
        function save_job(form) {
            //创建表单提交对象
            let oSubmitter = new DataFormSubmitter(form);
            //指定提交地址
            oSubmitter.url = get_url_for_save_job();
            //指定执行成功后的回掉函数
            oSubmitter.call_back = function () {
                //重新查询
                search_jobs();
                //关闭当前框
                close_dialog($(form).parents('.modal').get(0));
            };
            //执行提交
            oSubmitter.submit();
        }
        //删除职位
        function remove_job(jobId) {
            //创建数据提交对象
            let oSubmitter = new DataSubmitter('确定删除当前职位吗?');
            //指定提交地址
            oSubmitter.url = get_url_for_remove_job();
            //指定参数
            oSubmitter.data = { jobId: jobId };
            //指定提交完成后的回掉函数
            oSubmitter.call_back = search_jobs;
            //提交
            oSubmitter.submit();
        }
    </script>
    <!--部门-->
    <script type="text/javascript">
        //获取部门列表的url
        function get_url_for_get_departments() { return '@Url.Action("GetDepartments", "Department")'; }

        //加载部门列表树
        function load_department_tree() {
            //创建tree对象
            let tree = new mini.Tree(document.querySelector('#div-main > div[data-name="main"] div[data-name="tree-departments"]'));
            //指定选项
            tree.set({
                showTreeIcon: true,
                resultAsTree: false,
                textField: 'DepartmentName',
                idField: 'DepartmentId',
                parentField: 'ParentId',
                onnodeselect: 'select_department'
            });
            //加载数据
            tree.load(get_url_for_get_departments());
        }
        //选择当前部门
        function select_department(event) {
            //获取查询表单对象
            let form = document.querySelector('#div-main > div[data-name="main"] form[role="search"]');
            //指定所属部门信息
            form.querySelector('input[name="DepartmentId"]').value = event.node.DepartmentId;
            form.querySelector('input[name="DepartmentName"]').value = event.node.DepartmentName;
            //启用查询表单按钮
            form.querySelectorAll('button').forEach(function (button) {
                button.disabled = false;
            });
            //重新查询
            search_jobs(1);
        }
    </script>
    <!--初始化-->
    <script type="text/javascript">
        $(function () {
            //默认禁用查询表单按钮
            document.querySelectorAll('#div-main > div[data-name="main"] form[role="search"] button').forEach(function (button) {
                button.disabled = true;
            });
            //加载部门列表树
            load_department_tree();
        })
    </script>
}
@section navigation{
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Home" asp-action="Index">主页</a>
    </li>
    <li class="breadcrumb-item">员工管理</li>
    <li class="breadcrumb-item active" aria-current="page">@base.ViewData["Title"]</li>
}

<div class="row h-100">
    <!--部门菜单列表-->
    <div class="col-md-3 div-panel-vertical">
        <div data-name="tree-departments"></div>
    </div>
    <!--职位查询列表-->
    <div class="col-md-9">
        <!--查询表单-->
        <form class="bg-white pt-3 pb-3" role="search">
            <div class="row">
                <div class="col-md-4 row">
                    <label class="col-md-4 col-form-label text-end">所属部门:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="DepartmentName" readonly />
                    </div>
                </div>
                <div class="col-md-4 row">
                    <label class="col-md-4 col-form-label text-end">职位名称:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="JobName" />
                    </div>
                </div>
                <div class="col-md-4">
                    <primary-button click="search_jobs(1);">
                        <partial name="_ButtonTextSearch" />
                    </primary-button>
                    &nbsp;
                    <primary-button click="show_new_job();">
                        <partial name="_ButtonTextNew" />
                    </primary-button>
                </div>
            </div>
            <!--隐藏变量-->
            <input type="hidden" name="DepartmentId" />
        </form>
        <!--数据展示-->
        <div class="bg-white w-100 mt-2 p-0" data-name="jobs">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>所属部门</th>
                        <th>职位名称</th>
                        <th>录入时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <input type="hidden" name="PageSize" value="10" />
                            <input type="hidden" name="PageIndex" value="1" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>