@section style_libraries{
    <link rel="stylesheet" href="~/lib/jquery-miniui/themes/default/miniui.css" />
    <link rel="stylesheet" href="~/lib/jquery-miniui/themes/metro-blue/skin.css" />
}
@section script_libraries{
    <script type="text/javascript" src="~/lib/jquery-miniui/miniui.js"></script>
}
@section scripts{
    <!--添加引用-->
    <script type="text/javascript" src="~/js/_references.js"></script>
    <!--查询展示-->
    <script type="text/javascript">
        //获取显示部门列表的url
        function get_url_for_show_departments() { return '@Url.Action("ShowListPagedDepartments")'; }
        //获取显示部门详情的url
        function get_url_for_show_department() { return '@Url.Action("ShowDetailDepartment")'; }
        //获取显示新建部门的url
        function get_url_for_new_department() { return '@Url.Action("ShowNewDepartment")'; }
        //获取显示编辑部门的url
        function get_url_for_edit_department() { return '@Url.Action("ShowEditDepartment")'; }
        //获取部门列表的url
        function get_url_for_get_departments() { return '@Url.Action("GetDepartments")'; }

        //分页查询部门列表
        function search_departments(pageIndex, pageSize) {
            //创建Table分页加载对象
            let oTableLoader = new PageTableLoader('#div-main > div[data-name="main"] div[data-name="departments"]', 5);
            //指定查询url
            oTableLoader.url = get_url_for_show_departments();
            //指定查询参数
            oTableLoader.data = {
                searcher: get_form_json('#div-main > div[data-name="main"] form[role="search"]'),
                pageIndex: pageIndex,
                pageSize: pageSize,
                functionName: 'search_departments'
            };
            //加载数据
            oTableLoader.load();
        }
        //显示部门详情
        function show_department(departmentId) {
            //创建容器对象
            let oContainer = new ModalDialogContainer('div-modal-dialog-0');
            //指定url
            oContainer.url = get_url_for_show_department();
            //指定参数
            oContainer.data = { departmentId: departmentId };
            //显示当前容器
            oContainer.show();
        }
        //显示新建部门
        function show_new_department() {
            //创建容器对象
            let oContainer = new ModalDialogFormContainer('div-modal-dialog-0');
            //指定url
            oContainer.url = get_url_for_new_department();
            //指定参数
            oContainer.data = {
                parentId: document.querySelector('#div-main > div[data-name="main"] form[role="search"] input[name="ParentId"]').value
            };
            //显示当前容器
            oContainer.show();
        }
        //显示编辑部门
        function show_edit_department(departmentId) {
            //创建容器对象
            let oContainer = new ModalDialogFormContainer('div-modal-dialog-0');
            //指定url
            oContainer.url = get_url_for_edit_department();
            //指定参数
            oContainer.data = { departmentId: departmentId };
            //显示当前容器
            oContainer.show();
        }
        //加载部门列表树
        function load_department_tree() {
            //创建tree对象
            let tree = new mini.Tree(document.querySelector('#div-main > div[data-name="main"] div[data-name="tree-departments"]'));
            //指定选项
            tree.set({
                id: 'tree-departments',
                showTreeIcon: true,
                resultAsTree: false,
                textField: 'DepartmentName',
                idField: 'DepartmentId',
                parentField: 'ParentId',
                onnodeselect: 'select_department'
            });
            //加载数据
            tree.load(get_url_for_get_departments());
        }
        //重新加载部门列表树
        function reload_department_tree() {
            //创建tree对象
            let tree = mini.get('tree-departments');
            //加载数据
            tree.load(get_url_for_get_departments());
        }
        //选择当前部门
        function select_department(event) {
            //获取查询表单对象
            let form = document.querySelector('#div-main > div[data-name="main"] form[role="search"]');
            //指定上级部门信息
            form.querySelector('input[name="ParentId"]').value = event.node.DepartmentId;
            form.querySelector('input[name="ParentName"]').value = event.node.DepartmentName;
            //重新查询当前部门列表
            search_departments(1);
        }
    </script>
    <!--提交修改-->
    <script type="text/javascript">
        //获取添加部门的url
        function get_url_for_add_department() { return '@Url.Action("AddEntity")'; }
        //获取保存部门的url
        function get_url_for_save_department() { return '@Url.Action("SaveEntity")'; }
        //获取删除部门的url
        function get_url_for_remove_department() { return '@Url.Action("RemoveDepartment")'; }

        //添加部门
        function add_department(form) {
            //创建表单提交对象
            let oSubmitter = new DataFormSubmitter(form);
            //指定提交地址
            oSubmitter.url = get_url_for_add_department();
            //指定执行成功后的回掉函数
            oSubmitter.call_back = function () {
                //重新加载部门列表树
                reload_department_tree(1);
                //回到上一个界面
                close_dialog($(form).parents('.modal').get(0));
            };
            //执行提交
            oSubmitter.submit();
        }
        //保存部门
        function save_department(form) {
            //创建表单提交对象
            let oSubmitter = new DataFormSubmitter(form);
            //指定提交地址
            oSubmitter.url = get_url_for_save_department();
            //指定执行成功后的回掉函数
            oSubmitter.call_back = function () {
                //重新查询
                search_departments();
                //回到上一个界面
                close_dialog($(form).parents('.modal').get(0));
            };
            //执行提交
            oSubmitter.submit();
        }
        //删除部门
        function remove_department(departmentId) {
            //创建数据提交对象
            let oSubmitter = new DataSubmitter('确定删除当前部门吗?');
            //指定提交地址
            oSubmitter.url = get_url_for_remove_department();
            //指定参数
            oSubmitter.data = { departmentId: departmentId };
            //指定提交完成后的回掉函数
            oSubmitter.call_back = search_departments;
            //提交
            oSubmitter.submit();
        }
    </script>
    <!--初始化-->
    <script type="text/javascript">
        $(function () {
            //加载部门列表树
            load_department_tree();
            //默认查询第一页的部门列表
            search_departments(1);
        })
    </script>
}
@section navigation{
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Home" asp-action="Index">主页</a>
    </li>
    <li class="breadcrumb-item">员工管理</li>
    <li class="breadcrumb-item active" aria-current="page">@base.ViewData["Title"]</li>
}

<div class="row h-100">
    <!--部门菜单列表-->
    <div class="col-md-3 div-panel-vertical">
        <div data-name="tree-departments"></div>
    </div>
    <!--部门列表-->
    <div class="col-md-9">
        <!--查询表单-->
        <form class="bg-white pt-3 pb-3" role="search">
            <div class="row">
                <div class="col-md-4 row">
                    <label class="col-md-4 col-form-label text-end">上级部门:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="ParentName" readonly />
                    </div>
                </div>
                <div class="col-md-4 row">
                    <label class="col-md-4 col-form-label text-end">部门名称:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="DepartmentName" />
                    </div>
                </div>
                <div class="col-md-4">
                    <primary-button click="search_departments(1);">
                        <partial name="_ButtonTextSearch" />
                    </primary-button>
                    &nbsp;
                    <primary-button click="show_new_department();">
                        <partial name="_ButtonTextNew" />
                    </primary-button>
                </div>
            </div>
            <!--隐藏变量-->
            <input type="hidden" name="ParentId" />
        </form>
        <!--数据展示-->
        <div class="bg-white w-100 mt-2 p-0" data-name="departments">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>上级部门</th>
                        <th>部门名称</th>
                        <th>部门领导</th>
                        <th>录入时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <input type="hidden" name="PageSize" value="10" />
                            <input type="hidden" name="PageIndex" value="1" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
