@model ProvinceLevel
@{
    Layout = "_ModalContent";
}

<!--省级行政区详情-->
<div class="row mb-3">
    <div class="col-md-6 row">
        <label class="col-md-4 col-form-label text-end">行政区代码</label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="ProvinceCode" value="@base.Model.ProvinceCode" readonly />
        </div>
    </div>
    <div class="col-md-6 row">
        <label class="col-md-4 col-form-label text-end">行政区简称</label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="ShortName" value="@base.Model.ShortName" readonly />
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 row">
        <label class="col-md-4 col-form-label text-end">行政区名称</label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="ProvinceName" value="@base.Model.ProvinceName" readonly />
        </div>
    </div>
    <div class="col-md-6 row">
        <label class="col-md-4 col-form-label text-end">行政区类型</label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="ProvinceType" value="@base.Model.ProvinceType" readonly />
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 row">
        <label class="col-md-4 col-form-label text-end">英文名称</label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="ProvinceEnName" value="@base.Model.ProvinceEnName" readonly />
        </div>
    </div>
    <div class="col-md-6 row">
        <label class="col-md-4 col-form-label text-end">电话区号</label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="AreaCode" value="@base.Model.AreaCode" readonly />
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 row">
        <label class="col-md-4 col-form-label text-end">车牌代码</label>
        <div class="col-md-8">
            <input class="form-control" type="text" name="LicensePlateCode" value="@base.Model.LicensePlateCode" readonly />
        </div>
    </div>
</div>
<div class="row mb-3 pe-md-4">
    <div class="col-md-12 row">
        <label class="col-md-2 col-form-label text-end">备注</label>
        <div class="col-md-10">
            <textarea class="form-control" name="Remark" readonly>@base.Model.Remark</textarea>
        </div>
    </div>
</div>