@model IPagedList<CountyLevel>
@{
    string functionName = base.ViewBag.Function;
}

<div>
    <!--表头-->
    <header style="width:1420px;">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="w-fixed-150">行政区代码</th>
                    <th class="w-fixed-150">省级行政区</th>
                    <th class="w-fixed-150">地级行政区</th>
                    <th class="w-fixed-150">行政区名称</th>
                    <th class="w-fixed-150">行政区类型</th>
                    <th class="w-fixed-100">邮政编码</th>
                    <th class="w-fixed-200">备注</th>
                    <th class="w-fixed-200">录入时间</th>
                    <th class="w-fixed-150">操作</th>
                </tr>
            </thead>
        </table>
    </header>
    <!--主体:数据行列表-->
    <main style="width:1420px;">
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                @foreach (var countyLevel in base.Model)
                {
                    <tr>
                        <td class="w-fixed-150">@countyLevel.CountyCode</td>
                        <td class="w-fixed-150">@countyLevel.ProvinceLevel.ProvinceName</td>
                        <td class="w-fixed-150">@countyLevel.PrefectureLevel.PrefectureName</td>
                        <td class="w-fixed-150">@countyLevel.CountyName</td>
                        <td class="w-fixed-150">@countyLevel.CountyType</td>
                        <td class="w-fixed-100">@countyLevel.PostalCode</td>
                        <td class="w-fixed-200">@countyLevel.Remark</td>
                        <td class="w-fixed-200">@string.Format("{0:yyyy-MM-dd HH:mm:ss}", countyLevel.CreatedTime)</td>
                        <td class="w-fixed-150">
                            <primary-link click="show_county_level('@countyLevel.CountyCode');">
                                <partial name="_LinkTextInfo" />
                            </primary-link>
                            &nbsp;
                            <primary-link click="show_edit_county_level('@countyLevel.CountyCode');">
                                <partial name="_LinkTextEdit" />
                            </primary-link>
                            &nbsp;
                            <danger-link click="remove_county_level('@countyLevel.CountyCode');">
                                <partial name="_LinkTextRemove" />
                            </danger-link>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>
<!--页尾:分页-->
<footer>
    @await Html.PartialAsync("_Pagination", base.Model.GetPagination(functionName))
</footer>