@section scripts{
    <!--添加引用-->
    <script type="text/javascript" src="~/js/_references.js"></script>
    <script type="text/javascript" src="~/lib/_references.js"></script>
    <!--查询展示-->
    <script type="text/javascript">
        //获取展示操作元素链接的局部页面名称
        function get_links_view_name() { return '@base.ViewBag.LinksViewName'; }
        //获取展示分部视图的url
        function get_url_for_show_view() { return '@Url.Action("ShowView")'; }
        //获取显示员工列表的url
        function get_url_for_show_employees() { return '@Url.Action("ShowListPagedEmployees")'; }
        //获取显示员工详情的url
        function get_url_for_show_employee() { return '@Url.Action("ShowDetailEmployee")'; }
        //获取显示编辑员工的url
        function get_url_for_edit_employee() { return '@Url.Action("ShowEditEmployee")'; }
        //获取导出员工列表excel的url
        function get_url_for_export_employees() { return '@Url.Action("ExportEmployeesToExcel")'; }

        //分页查询员工列表
        function search_employees(pageIndex, pageSize) {
            //创建分页列表加载对象
            let oPagedListLoader = new PagedListLoader('#div-main > div[data-name="main"] div[data-name="employees"]');
            //指定查询url
            oPagedListLoader.url = get_url_for_show_employees();
            //指定查询参数
            oPagedListLoader.data = {
                searcher: get_form_json('#div-main > div[data-name="main"] form[role="search"]'),
                pageIndex: pageIndex,
                pageSize: pageSize,
                functionName: 'search_employees',
                linksViewName: get_links_view_name()
            };
            //加载数据
            oPagedListLoader.load();
        }
        //显示员工详情
        function show_employee(employeeId) {
            //创建容器对象
            let oContainer = new ModalContentContainer('#div-main', 'modal-content-0');
            //指定url
            oContainer.url = get_url_for_show_employee();
            //指定参数
            oContainer.data = { employeeId: employeeId };
            //显示当前容器
            oContainer.show();
        }
        //加载日期列表
        function load_datepickers(form) {
            //加载日期选择
            layui.use('laydate', function () {
                //获取laydate控件
                var laydate = layui.laydate;
                //加载出生日期控件
                laydate.render({
                    elem: form.querySelector('input[name="Birthday"]'),
                    done: function (value, date, endDate) {
                        //若值为空则清空年龄后退出
                        if (value == '') {
                            form.querySelector('input[name="Age"]').value = '';
                            return;
                        }
                        //计算年龄
                        let now = new Date(Date.now());
                        let age = now.getFullYear() - date.year;
                        //赋值
                        form.querySelector('input[name="Age"]').value = age;
                    }
                });
                //遍历加载其他日期控件
                form.querySelectorAll('input[data-role="datepicker"]').forEach(function (element) {
                    laydate.render({
                        elem: element
                    });
                });
            });
        }
        //初始化设置编辑员工表单
        function set_edit_employee(form) {
            //加载日期列表
            load_datepickers(form);
            //加载可选部门列表
            load_search_departments(form.querySelector('input[name="DepartmentName"]'));
            //加载可选职位列表
            load_search_jobs(form);
        }
        //显示新建员工
        function show_new_employee() {
            //创建容器对象
            let oContainer = new ModalContentFormContainer('#div-main', 'modal-content-0');
            //指定url
            oContainer.url = get_url_for_show_view();
            //指定参数
            oContainer.data = {
                viewName: '_NewEmployee',
                title: '新建员工'
            };
            //指定初始化表单的函数
            oContainer.set_form = set_edit_employee;
            //显示当前容器
            oContainer.show();
        }
        //显示编辑员工
        function show_edit_employee(employeeId) {
            //创建容器对象
            let oContainer = new ModalContentFormContainer('#div-main', 'modal-content-0');
            //指定url
            oContainer.url = get_url_for_edit_employee();
            //指定参数
            oContainer.data = { employeeId: employeeId };
            //指定初始化表单的函数
            oContainer.set_form = set_edit_employee;
            //显示当前容器
            oContainer.show();
        }
        //导出员工列表至excel
        function export_employees() {
            //获取跳转的url地址
            let sUrl = get_url_for_export_employees()
                + '?'
                + $('#div-main > div[data-name="main"] form[role="search"]').serialize();
            //跳转
            window.location.href = sUrl;
        }
    </script>
    <!--提交修改-->
    <script type="text/javascript">
        //获取添加员工的url
        function get_url_for_add_employee() { return '@Url.Action("AddEntity")'; }
        //获取保存员工的url
        function get_url_for_save_employee() { return '@Url.Action("SaveEntity")'; }

        //添加员工
        function add_employee(form) {
            //创建表单提交对象
            let oSubmitter = new DataFormSubmitter(form);
            //指定提交地址
            oSubmitter.url = get_url_for_add_employee();
            //指定执行成功后的回掉函数
            oSubmitter.call_back = function () {
                //重新查询
                search_employees(1);
                //返回上一个界面
                go_back($(form).parents('.modal-content').get(0));
            };
            //执行提交
            oSubmitter.submit();
        }
        //保存员工
        function save_employee(form) {
            //创建表单提交对象
            let oSubmitter = new DataFormSubmitter(form);
            //指定提交地址
            oSubmitter.url = get_url_for_save_employee();
            //指定执行成功后的回掉函数
            oSubmitter.call_back = function () {
                //重新查询
                search_employees(1);
                //回到上一个界面
                go_back($(form).parents('.modal-content').get(0));
            };
            //执行提交
            oSubmitter.submit();
        }
    </script>
    <!--点击选择部门-->
    <script type="text/javascript">
        //获取显示查询可选部门列表的url
        function get_url_for_show_search_departments() { return '@Url.Action("ShowListSearchDepartments", "Department")'; }
        //获取显示可选部门列表的url
        function get_url_for_show_select_departments() { return '@Url.Action("ShowListSelectDepartments", "Department")'; }

        //加载查询可选部门列表
        function load_search_departments(element) {
            //获取数据
            let jData = {
                pageIndex: 1,
                pageSize: 5,
                functionName: 'search_select_departments',
                selectFunctionName: 'select_department'
            };
            //加载查询可选部门列表
            $.post(get_url_for_show_search_departments(), jData, function (data, textStatus, jqXHR) {
                //打印log
                console.log(textStatus);
                //新建悬停框
                new bootstrap.Popover(element, {
                    title: '<i class="fa fa-cogs"></i> 可选部门列表',
                    container: document.body,
                    content: function () {
                        let divContainer = document.createElement('div');
                        divContainer.innerHTML = data;
                        divContainer.id = 'div-select-departments';
                        return divContainer;
                    },
                    html: true,
                    placement: 'left'
                });
            }, 'html');
        }
        //分页查询可选部门列表
        function search_select_departments(pageIndex, pageSize) {
            //创建Table分页加载对象
            let oTableLoader = new PageTableLoader('#div-select-departments > main', 3);
            //指定查询url
            oTableLoader.url = get_url_for_show_select_departments();
            //指定查询参数
            oTableLoader.data = {
                searcher: get_form_json('#div-select-departments > form'),
                pageIndex: pageIndex,
                pageSize: pageSize,
                functionName: 'search_select_departments',
                selectFunctionName: 'select_department'
            };
            //加载数据
            oTableLoader.load();
        }
        //选择当前部门
        function select_department(departmentId, departmentName) {
            //获取当前表单
            let form = document.querySelector('#div-main > div[data-name="modal-content-0"] form');
            //指定部门信息
            form.querySelector('input[name="DepartmentId"]').value = departmentId;
            form.querySelector('input[name="DepartmentName"]').value = departmentName;
            //关闭当前悬停框
            let oPopover = bootstrap.Popover.getInstance(form.querySelector('input[name="DepartmentName"]'));
            oPopover.hide();
        }
        //清空选择部门并关闭选择框
        function clean_select_department(form) {
            //清空部门信息
            form.querySelector('input[name="DepartmentId"]').value = '';
            form.querySelector('input[name="DepartmentName"]').value = '';
            //清空职位信息
            form.querySelector('input[name="JobId"]').value = '';
            form.querySelector('input[name="JobName"]').value = '';
            //关闭当前悬停框
            bootstrap.Popover.getInstance(form.querySelector('input[name="DepartmentName"]')).hide();
        }
    </script>
    <!--点击选择职位-->
    <script type="text/javascript">
        //获取显示可选职位列表的url
        function get_url_for_show_select_jobs() { return '@Url.Action("ShowListSelectJobs", "Job")'; }

        //加载查询可选职位列表
        function load_search_jobs(form) {
            //获取输入框
            let inputJobName = form.querySelector('input[name="JobName"]');
            //加载悬停框对象
            bootstrap.Popover.getOrCreateInstance(inputJobName, {
                title: '<i class="fa fa-cogs"></i> 可选职位列表',
                container: document.body,
                content: function () {
                    let divContainer = document.createElement('div');
                    divContainer.id = 'div-select-jobs';
                    return divContainer;
                },
                html: true,
                placement: 'left'
            });
            //添加监听时间，悬停框显示时加载可选职位列表
            inputJobName.addEventListener('shown.bs.popover', function () {
                //创建html加载器
                let oHtmlLoader = new HtmlLoader(document.getElementById('div-select-jobs'));
                //指定查询url
                oHtmlLoader.url = get_url_for_show_select_jobs();
                //指定查询参数
                oHtmlLoader.data = {
                    searcher: {
                        DepartmentId: form.querySelector('input[name="DepartmentId"]').value,
                        JobName: form.querySelector('input[name="JobName"]').value
                    },
                    pageIndex: 1,
                    pageSize: 5,
                    functionName: 'search_select_jobs',
                    selectFunctionName: 'select_job'
                };
                //加载数据
                oHtmlLoader.load();
            });
        }
        //分页查询可选职位列表
        function search_select_jobs(pageIndex, pageSize) {
            //获取表单
            let form = document.querySelector('#div-main > div[data-name="modal-content-0"] form');
            //创建Table分页加载对象
            let oTableLoader = new PageTableLoader(document.getElementById('div-select-jobs'), 4);
            //指定查询url
            oTableLoader.url = get_url_for_show_select_jobs();
            //指定查询参数
            oTableLoader.data = {
                searcher: {
                    DepartmentId: form.querySelector('input[name="DepartmentId"]').value,
                    JobName: form.querySelector('input[name="JobName"]').value
                },
                pageIndex: pageIndex,
                pageSize: pageSize,
                functionName: 'search_select_jobs',
                selectFunctionName: 'select_job'
            };
            //加载数据
            oTableLoader.load();
        }
        //选择当前职位
        function select_job(jobId, jobName) {
            //获取当前表单
            let form = document.querySelector('#div-main > div[data-name="modal-content-0"] form');
            //指定职位信息
            form.querySelector('input[name="JobId"]').value = jobId;
            form.querySelector('input[name="JobName"]').value = jobName;
            //关闭当前悬停框
            let oPopover = bootstrap.Popover.getInstance(form.querySelector('input[name="JobName"]'));
            oPopover.hide();
        }
        //清空选择职位并关闭选择框
        function clean_select_job(form) {
            //清空职位信息
            form.querySelector('input[name="JobId"]').value = '';
            form.querySelector('input[name="JobName"]').value = '';
            //关闭当前悬停框
            bootstrap.Popover.getInstance(form.querySelector('input[name="JobName"]')).hide();
        }
    </script>
    <!--初始化-->
    <script type="text/javascript">
        $(function () {
            //默认查询第一页的员工列表
            search_employees(1);
        })
    </script>
}
@section navigation{
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Home" asp-action="Index">主页</a>
    </li>
    <li class="breadcrumb-item">员工管理</li>
    <li class="breadcrumb-item active" aria-current="page">@base.ViewData["Title"]</li>
}

<!--查询表单-->
<form class="bg-white pt-3 pb-3" role="search">
    <div class="row mb-2">
        <div class="col-md-4 row">
            <label class="col-md-4 col-form-label text-end">员工姓名:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="EmployeeName" />
            </div>
        </div>
        <div class="col-md-4 row">
            <label class="col-md-4 col-form-label text-end">手机号码:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="PhoneNumber" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 row">
            <label class="col-md-4 col-form-label text-end">部门:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="DepartmentName" />
            </div>
        </div>
        <div class="col-md-4 row">
            <label class="col-md-4 col-form-label text-end">职位:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="JobName" />
            </div>
        </div>
        <div class="col-md-4">
            <primary-button click="search_employees(1);">
                <partial name="_ButtonTextSearch" />
            </primary-button>
            &nbsp;
            <primary-button click="export_employees();">
                <partial name="_ButtonTextExport" />
            </primary-button>
            &nbsp;
            <primary-button click="show_new_employee();">
                <partial name="_ButtonTextNew" />
            </primary-button>
        </div>
    </div>
    <!--隐藏变量-->
    <input type="hidden" name="IsDeleted" value="@base.ViewData["IsDeleted"]" />
</form>
<!--数据展示-->
<div class="paged-list bg-white mt-2 h-75" data-name="employees">
    <div>
        <!--表头-->
        <header style="width:1900px;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="w-fixed-100">
                            <input type="checkbox" />
                        </th>
                        <th class="w-fixed-150">员工姓名</th>
                        <th class="w-fixed-100">性别</th>
                        <th class="w-fixed-200">身份证号码</th>
                        <th class="w-fixed-150">出生日期</th>
                        <th class="w-fixed-100">年龄</th>
                        <th class="w-fixed-150">部门</th>
                        <th class="w-fixed-150">职位</th>
                        <th class="w-fixed-150">手机号码</th>
                        <th class="w-fixed-150">电子邮箱</th>
                        <th class="w-fixed-150">入职日期</th>
                        <th class="w-fixed-200">录入时间</th>
                        <th class="w-fixed-150">操作</th>
                    </tr>
                </thead>
            </table>
        </header>
        <!--主体:数据行列表-->
        <main style="width:1900px;">
        </main>
    </div>
    <!--页尾:分页-->
    <footer>
        <!--初始化隐藏变量-->
        <input type="hidden" name="PageSize" value="20" />
        <input type="hidden" name="PageIndex" value="1" />
    </footer>
</div>